html{
    font-family: 'Freckle Face', cursive;
}

#menu ul{
    float: right;
    list-style: none;
    margin-right: 20px;
}

#menu ul li{

}

#menu ul li a{
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    color: inherit;
}
