@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Tiro+Devanagari+Marathi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Sunflower&family=Tiro+Devanagari+Marathi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower&display=swap');

*{
    transition-duration: 0.8s;
}

html { 
    scroll-behavior: smooth; 
} 

body{
    font-family: 'Sunflower', sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
}

.gnb {
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 1;
    height: 20px;
}

.gnb a {
    margin: 2%;
    text-decoration: none;
    color: #222;
    font-size: 180%;
    padding: 20px;
}

.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 img {
    display: block;
    margin: auto;
    width: 1080px;
    height: 675px;
}

.section2 .pic {
}

.section2 .pic img {
    width: 15%;
    height: 15%;
    margin-top: 200px;
    padding: 30px;
}

.section2 .about {
    font-family: 'Sunflower', sans-serif;
    font-size: 90%;
}

.section2,
.section3,
.section4 {
    width: 100%;
    height: 100vh;
    font-size: 32px; 
    text-align: center; 
    background-color: white;
}


