html{
    font-family: 'Freckle Face', cursive;
}

a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

#menu ul{
    float: center;
    list-style: none;
    margin-right: 20px;
}

#menu ul li{

}

#menu ul li a{
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    color: inherit;
}

h1{
    margin-left: 20px;
    text-align: center;
}


